:root {
  --color-black: #1a1a1a;
  --color-white: #ffffff;
  --color-primary: #2D1B33;
  --color-ivory: #FDFBF7;
  --color-navy: #1F2937;
  --color-border: #dcdcdc;
  --color-darkgray: #4B454B;
  --color-gray: #7D757C;
  --color-mediumgray: #6B7280;
  --color-accent-purple: #6430CA;
}
